@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Handlee&family=Lato:wght@300&family=M+PLUS+Rounded+1c&family=Mooli&family=Mountains+of+Christmas&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/*Overides default styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", "sans-serif";
}

body {
  background: url("../images/space-bg.webp");
  color: #0a0d60;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.top-btns {
  margin-left:auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
  font-size: 17px;
  border-radius: 20px;
  padding: 10px;
  color: #0a0d60;
  border: 2px solid white;
  box-shadow: #f76dae 0 0 10px 2px;
}


.modal {
  text-align: center;
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 5px;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid white;
  box-shadow: #f76dae 0 0 10px 2px;
  width: 80%; /
}

/* The Close Button */
.close {
  color: #f76dae;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0a0d60;
  text-decoration: none;
  cursor: pointer;
}

.container {
  align-items: center;
  position: absolute;
  top: 120px;
  background: white;
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid white;
  box-shadow: #f76dae 0 0 10px 2px;
}

#heading {
  border-bottom: 2px solid #f76dae;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.info {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

#quiz-box {
  padding: 20px 0;;
  font-size: 17px;
}

#question {
  padding: 20px;
}

.btn {
  color: #0a0d60;
  background: white;
  width: 95%;
  border: 2px solid white;
  box-shadow: #0a0d60 0 0 10px 2px;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 900;
}

.btn:hover:not([disabled]) {
  cursor: pointer;
  background-color: #f76dae;
  color: white;
  border-color: whitesmoke;
}

#start-btn {
  border: 2px solid white;
  box-shadow: #f76dae 0 0 10px 2px;
  margin: 20px auto;
  font-size: 20px;
}

#next-btn {
  width: 30%;
  border: 2px solid white;
  box-shadow: #f76dae 0 0 10px 2px;
  margin: 10px auto;
}

.hide {
  display: none;
}

.correct {
  background: #52eaa0;
  color: black;
  

}

.incorrect {
  background: #F86379;
  color: black
}

#social {
  position: fixed;
  bottom: 0;
  margin-top: 5px;
  margin-bottom:10px;
  text-align: center;
  opacity: 50;
  width: 100%;
  height:8px;
  padding:70px;
  font-size: 22px;
  font-weight:900px;
}
a {
  text-decoration: underline;
  color: white;
}