/*Overides default styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", "sans-serif";
}

body {
  background: url("../images/space-bg.jpg");
  color: #0a0d60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  width: 90%;
  max-width: 500px;
  margin: 100px auto 10px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: white 0 0 10px 3px;
}

#heading {
  border-bottom: 2px solid #f76dae;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.info {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

#quiz-box {
  padding: 20px 0;
  font-size: 17px;
}

#question {
  padding: 20px;
}

.btn {
  color: #0a0d60;
  background: white;
  width: 95%;
  border: 2px solid white;
  box-shadow: #0a0d60 0 0 10px 2px;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0;
}

.btn:hover:not([disabled]) {
  cursor: pointer;
  background-color: #f76dae;
  color: white;
  border-color: whitesmoke;
}

#start-btn {
  border: 2px solid white;
  box-shadow: #f76dae 0 0 10px 2px;
  margin: 20px auto;
  font-size: 20px;
}

#next-btn {
  width: 30%;
  border: 2px solid white;
  box-shadow: #f76dae 0 0 10px 2px;
  margin: 10px auto;
}

.hide {
  display: none;
}

.correct {
  background: #52eaa0;
  color: white;

}

.incorrect {
  background: #f9435e;
  color: white;
}
